	<div class="row pt-3 mb-3">
		<div class="col mx-5 ">
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title">yashwardhan Singh</h5>
		    <p class="card-text">Sophomore,IIT Guwahati</p>
		    <a href="https://github.com/yashwrdhn" class="btn btn-primary">Github</a>
		  </div>
		</div></div>
	</div>

<div class="row">
	<div class="col mx-5 ">
		<h3>Reach out to me </h3>
		<form method="POST">
		<div class="mb-3">
  			<label for="input1" class="form-label">Name</label>
  			<input type="text" class="form-control" name="name" id="input1" placeholder="name">
		</div>

		<div class="mb-3">
  			<label for="input1" class="form-label">Email address</label>
  			<input type="email" class="form-control" name="email" id="input1" placeholder="name@example.com">
		</div>

		<div class="mb-3">
  			<label for="textarea1" class="form-label">Message</label>
  			<textarea class="form-control" name="text" id="textarea1" rows="3"></textarea>
		</div>
		<button class="btn btn-outline-primary" formaction="contact" type="submit">send Message</button>
	</div>
		
	<div class="col d-flex ">
		<div>
		<img class="my-1 img-fluid" src="./img/hello.svg">
		</div>
	</div>


</div>