
<div class="d-flex pt-5 justify-content-center">
<div class="card mb-3" style="">
  <div class="row g-0">
    <div class="col-md-3 my-1">
      <img src="./img/profilePic.svg" class="img-fluid rounded-start" alt="...">
      
    </div>
    <div class="col-md-7 mx-5 my-3">
    	
      <div class="card-body">
        <h3 class="card-title"><%= user.name %></h3><br>
        <p class="card-text">email: <strong><%= user.email %></strong></p>
        <p class="card-text">Teams: <strong><%= user.teams %></strong></p>
        <a href="#" class="btn btn-primary">Logout</a>
      </div>
    </div>
  </div>
</div>
</div>