<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>whiteboard</title>
  <link rel="stylesheet" href="css/whiteboard.css">
</head>
<body>

  <canvas class="whiteboard" ></canvas>

  <div class="colors">
    <div class="color black"></div>
    <div class="color red"></div>
    <div class="color green"></div>
    <div class="color blue"></div>
    <div class="color white"></div>
    <div class="color yellow"></div>

    <!-- <button id="clear" class="btn btn-outline-danger">clear</button> -->
    <!-- <button id='eraser' class="btn btn-outline-warning">Eraser</button> -->
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/whiteboardForTeam.js"></script>
</body>
</html>